@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  /* :root {
    --color-background: rgb(72, 70, 70);
    --color-background-soft: #222222;
    --color-background-mute: #282828;

    --color-border: rgba(84, 84, 84, 0.48);
    --color-border-hover: rgba(84, 84, 84, 0.65);

    --color-heading: #ffffff;
    --color-text: rgba(235, 235, 235, 0.64);
  } */
}

@media (hover: hover) {
  /* a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  } */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: right;
    cursor: default;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
